<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stroller.Bll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Stroller.Bll.Properties.Settings>
            <setting name="IpAddress" serializeAs="String">
                <value>192.168.50.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="ImagesDir" serializeAs="String">
                <value>C:\StrollerImages</value>
            </setting>
        </Stroller.Bll.Properties.Settings>
    </userSettings>
</configuration>